body {
    margin: 0;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}

header {
    background: url(./images/bg-pattern-top-mobile.svg);
    background-repeat: no-repeat;
    margin-top: 0 auto;
}

header h1 {
   color: hsl(300, 43%, 22%);
   text-align: center;
   font-weight: bold;
   padding-top: 80px;
   margin-top: 0;
   font-size: 35px;
   font-weight: 800;
}

header h2 {
    text-align: center;
    font-size: 17.5px;
    color: hsl(303, 10%, 53%);
    margin-bottom: 40px;
}


.ratings {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-container-1,
.rating-container-2,
.rating-container-3 {
    background-color: hsl(300, 24%, 96%);
    text-align: center;
    font-weight: bold;
    width: 85vw;
    margin-bottom: 20px;
    border-radius: 5%;
}

.star {
    padding-top:15px;
}

.rating {
    color: hsl(300, 43%, 22%);
    padding-bottom: 1px;
}

.review {
    background-color: hsl(300, 43%, 22%);
    display: grid;
}

.review img {
    border-radius: 50%;
}

.verified {
    color: hsl(333, 80%, 67%);
}

